# Text2Sql

In [22]:
from openai import OpenAI
import os
import psycopg2
import instructor
from pydantic import BaseModel
import openai
import sqlvalidator
from langchain_community.utilities import SQLDatabase
from langchain.chains import create_sql_query_chain

In [23]:
postgres_username = os.getenv("POSTGRES_USERNAME")
postgres_pwd = os.getenv("POSTGRES_PASSWORD")

In [24]:
print(postgres_username)

postgres

In [4]:
client = instructor.from_openai(OpenAI())
db_chain = SQLDatabase.from_uri(f"postgresql+psycopg2://{postgres_username}:{postgres_pwd}@host.docker.internal:5433/postgresdb")

In [5]:
class SQLQuery(BaseModel):
    query: str


class RAGGenerationResponse(BaseModel):
    answer: str

In [19]:
# Text2Sql

# query = "What is the top 5 attraction location in the US based on ratings?"
# query = "I want a list of all aquariums in the listed US cities."
# query = "Are there any amusement or water parks in Charlotte, NC?"
# query = "Which cities have more than three parks listed in your database?"
query = "What attractions in Charleston, SC are related to US Civil War history?"

prompt = f"""
You are given a database schema:
    Schema: public
    Table: us_attractions
    Columns:
    - name VARCHAR(250)
    - main_category VARCHAR(250)
    - rating REAL
    - reviews REAL
    - categories VARCHAR(250)
    - address VARCHAR(250)
    - city VARCHAR(250)
    - country VARCHAR(250)
    - state VARCHAR(250)
    - zipcode INTEGER
    - broader_category VARCHAR(250)
    - weighted_score REAL
    - weighted_average REAL
    - all_cities VARCHAR(250)

The values under the country column are all "USA".    

Translate the following query into SQL:

"{query}"

Instructions:
- Write SQL query using the "public" schema for all tables (e.g., public.us_attraction).
- Response should only be a safe SQL query
- When making string comparisons, make sure to perform lower case

"""

# print(prompt)

In [ ]:
def is_structured_query(query: str) -> bool:
    structured_keywords = [
        "select", "count", "list", "find", "show", "where", "when", "which",
        "how many", "exactly", "order by", "group by", "price", "location", "category"
    ]
    query_lower = query.lower()
    return any(keyword in query_lower for keyword in structured_keywords)

In [20]:
# Instructor Version

response, raw_response = client.chat.completions.create_with_completion(
    model="gpt-4.1-mini",
    response_model=SQLQuery,
    messages=[{"role":"user", "content": prompt}],
    temperature=0
)

In [ ]:
# Example to perform vector similarity queries

query_embedding = [0.1, 0.2, ..., 0.3]
cur.execute(
  "SELECT * FROM your_table ORDER BY embedding <-> %s LIMIT 5",
  (query_embedding,)
)
results = cur.fetchall()

In [8]:
response

SQLQuery(query="SELECT name, city FROM public.us_attractions WHERE main_category = 'Aquarium';")

In [21]:
response.query

"SELECT * FROM public.us_attractions WHERE lower(city) = 'charleston' AND lower(state) = 'sc' AND (lower(main_category) LIKE '%civil war%' OR lower(categories) LIKE '%civil war%' OR lower(broader_category) LIKE '%civil war%')"

In [60]:
parsed = sqlvalidator.parse(response.query)
parsed.is_valid()

True

In [54]:
# OpenAI
response = openai.chat.completions.create(
    model="gpt-4.1-mini",
    messages=[{"role": "user", "content": prompt}],
    temperature=0.,
)

In [56]:
str(response.choices[0].message.content)

'```sql\nSELECT name, city, state, rating\nFROM public.us_attractions\nORDER BY rating DESC\nLIMIT 5;\n```'

In [47]:
parsed = sqlvalidator.parse(response.choices[0].message.content)
parsed.is_valid()

False

In [25]:
conn = psycopg2.connect(
    dbname="postgresdb",
    user=postgres_username,
    password=postgres_pwd,
    host="host.docker.internal",  # e.g., "localhost"
    port="5433"        # default PostgreSQL port
)
cursor = conn.cursor()

In [28]:
generated_sql = response.query

cursor.execute(generated_sql)
rows = cursor.fetchall()

for row in rows:
    print(row)

('American Legacy Tours', 'Cincinnati', 'OH', 5.0, 3249.0)
('Far Shot Albany', 'Albany', 'NY', 5.0, 2830.0)
('Axehole Vegas | Axe Throwing Bar', 'Las-vegas', 'NV', 5.0, 2653.0)
('Immersive Gamebox - 9+CO Denver', 'Denver', 'CO', 5.0, 2052.0)
('Buffalo Double Decker Tours', 'Buffalo', 'NY', 5.0, 1626.0)

In [36]:
formatted_rows = "\n".join([", ".join(map(str, row)) for row in rows])
# print(formatted_rows)

# Create a prompt for the LLM

prompt = f'''Here are the query results:\n{formatted_rows}

Generated by this SQL query: {generated_sql}\n
'''
if query:
    prompt += f"Based on these results, answer the question: {query}"

# print(prompt)

# response, raw_response = client.chat.completions.create_with_completion(
#     model="gpt-4.1-mini",
#     response_model=RAGGenerationResponse,
#     messages=[{"role":"user", "content": prompt}],
#     temperature=0
# )

response = openai.chat.completions.create(
        model="gpt-4.1-mini",
        messages=[{"role": "user", "content": prompt}],
        temperature=0.5,
    )

In [34]:
response.answer

'The top 5 attraction locations in the US based on rating and number of reviews are:\n1. American Legacy Tours, Cincinnati, OH\n2. Far Shot Albany, Albany, NY\n3. Axehole Vegas | Axe Throwing Bar, Las Vegas, NV\n4. Immersive Gamebox - 9+CO Denver, Denver, CO\n5. Buffalo Double Decker Tours, Buffalo, NY'

In [39]:
response.choices[0].message.content

'Based on the query results, the top 5 attraction locations in the US, ranked by rating (all 5.0) and then by number of reviews (highest first), are:\n\n1. American Legacy Tours, Cincinnati, OH (5.0 rating, 3249 reviews)  \n2. Far Shot Albany, Albany, NY (5.0 rating, 2830 reviews)  \n3. Axehole Vegas | Axe Throwing Bar, Las Vegas, NV (5.0 rating, 2653 reviews)  \n4. Immersive Gamebox - 9+CO Denver, Denver, CO (5.0 rating, 2052 reviews)  \n5. Buffalo Double Decker Tours, Buffalo, NY (5.0 rating, 1626 reviews)  \n\nThese are the top 5 attractions based on the highest ratings and number of reviews in the US.'

In [ ]:
conn.close()